@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --primaryColor: #222831;
  --footerColor: #373a40;
  --bodyBackgroundColor: #686d76;
  --font: "Alata", sans-serif;
  --mono: "Roboto Mono", monospace;
}

body {
  background: var(--bodyBackgroundColor);
  min-height: 100vh;
}

::-webkit-scrollbar {
  scrollbar-width: none;
}
